body {

    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: linear-gradient(-45deg, #FF0000, #900D0D, #111111,  #000000);
    background-size: 400% 400%;
    animation: movingBG 15s ease infinite;

}


@keyframes movingBG {

    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }

}

img {

    max-width: 30%;
    height: auto;
    margin: 1% auto;

}

.centralBoxContainer {
    
    justify-items: center;
    /*border: 1px solid green;*/
    padding: 1% 0 10% 0;
    margin: 0 auto;
}

.centralBox {

    width: 40%;
    height: 80%;
    margin: 1% auto;
    box-shadow: 10px 10px #282828;
    border-radius: 7px;
    /*border: 1px solid red;*/
    background-color: white;
    padding: 1% 2% 1% 2%;
    animation: fadeIn 2s;
    font-size: 1vw;
     
}

@keyframes fadeIn {
    from {opacity:  0;}
    to {opacity: 1;}
}

#clock {

    /* Viewport % grants responsiveness to font inside the main div */
    font-size: 6vw;

}

#author {

    color: white;
    text-decoration: none;
    
}

